{% extends 'base.html' %}

{% block main %}
<main>
    <section class="articles">
        <article>
            <h2>Vítej na Mendelu</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio modi officia blanditiis dolorem reprehenderit, maxime totam? Quod maiores ipsa dolor aliquam veniam maxime reiciendis ad repellendus asperiores, ullam necessitatibus?</p>
        </article>
        <article>
            <h2>Dobrá parta</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio modi officia blanditiis dolorem reprehenderit, maxime totam? Quod maiores ipsa dolor aliquam veniam maxime reiciendis ad repellendus asperiores, ullam necessitatibus?</p>
        </article>
        <article>
            <h2>Akce až do rána</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio modi officia blanditiis dolorem reprehenderit, maxime totam? Quod maiores ipsa dolor aliquam veniam maxime reiciendis ad repellendus asperiores, ullam necessitatibus?</p>
        </article>
        <article>
            <h2>Ale zkouška bolí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio modi officia blanditiis dolorem reprehenderit, maxime totam? Quod maiores ipsa dolor aliquam veniam maxime reiciendis ad repellendus asperiores, ullam necessitatibus?</p>
        </article>
        <article>
            <h2>Odměna je sladká</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio modi officia blanditiis dolorem reprehenderit, maxime totam? Quod maiores ipsa dolor aliquam veniam maxime reiciendis ad repellendus asperiores, ullam necessitatibus?</p>
        </article>
        <article>
         <h2>A mnohem víc!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio modi officia blanditiis dolorem reprehenderit, maxime totam? Quod maiores ipsa dolor aliquam veniam maxime reiciendis ad repellendus asperiores, ullam necessitatibus?</p>
        </article>
    </section>
</main>
{% endblock %}